<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/games/css/stylesGlobal.css">
    <link rel="stylesheet" href="/games/css/citations.css">
    <link rel="stylesheet" href="/games/css/loading.css">

    <title>Jeu des citations</title>
</head>

<body>
    <header>
        <a href="/">AUTT</a>
        <ul>
            <a href="/games/">
                <li>Accueil</li>
            </a>
            <a href="/games/dinautt">
                <li>Dinautt</li>
            </a>
            <a href="/games/morpion">
                <li>Morpion</li>
            </a>
            <a href="/games/citations">
                <li>Jeu des citations</li>
            </a>
        </ul>
    </header>
    <div id="lobby">
        <button id="createButton">Créer une room</button>
        <button id="joinButton">Rejoindre une room</button>
    </div>
    <div id="waitingRoom" class="d-none waiting">
        <div class="containerPlayer">
            <div class="topTexte">
                Joueurs Connectés:
            </div>
            <div id="playersList" class="players"></div>
        </div>
        <button id="startButton" class="d-none">Démarrer la partie</button>
        <div class="wrapper">
            <div class="box">
                <img class="taco" src="/games/assets/dinautt/taco.png">
                <div class="textBox">
                    en attente de joueurs<br>
                    pour lancer la partie
                </div>
            </div>
        </div>
    </div>
    <div id="gameContainer" class="d-none">
        <div class="containertop">

            <div class="animHautGauche">
            </div>

            <div id="screen" class="screen">
                <!--là où on affiche les citations, les scores ect -->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
            </div>

            <div class="animHautDroite">
            </div>
        </div>

        <div class="containerbottom">

            <div class="animBasGauche">
            </div>

            <div class="input">
                <!--là où on écrit les réponses -->
                <input type="text" name="answer" id="answer">
            </div>

            <div class="animBasDroite">
            </div>

        </div>
    </div>
    <div id="endGame" class="endgame d-none">
        <div class="citation">citation x: "citation"</div>
        <div class="answer">answer</div>
        <div class="username">username</div>
        <div class="useranswer">useranswer</div>
        <button id="falseButton">Faux</button>
        <button id="trueButton">Vrai</button>
    </div>
    <div class="footer">
        <!-- en bas de la page, commun à toutes les pages-->
        <p>© 2022 - AUTT</p>
    </div>
    <script src="/games/socket.io/socket.io.js"></script>
    <script src="/games/js/citations.js"></script>
</body>

</html>