<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/games/css/stylesGlobal.css">
    <link rel="stylesheet" href="/games/css/citations.css">
    <link rel="stylesheet" href="/games/css/loading.css">

    <title>Jeu des citations</title>
</head>

<body>
    <header>
        <a href="/">AUTT</a>
        <ul>
            <a href="/games/">
                <li>Accueil</li>
            </a>
            <a href="/games/dinautt">
                <li>Dinautt</li>
            </a>
            <a href="/games/morpion">
                <li>Morpion</li>
            </a>
            <a href="/games/citations">
                <li>Jeu des citations</li>
            </a>
        </ul>
    </header>
    <div class="waiting">
        <button id="createButton">Créer une room</button>
        <button id="joinButton">Rejoindre une room</button>
    </div>
    <div id="waitingRoom" class="d-none">
    <div class ="containerPlayer">
		<div class="topTexte">
			Joueurs Connectés:
		</div>
		<div id="playersList" class="players"></div>
		<div id="hostname" class="bottomTexte">
			Host de la partie:
		</div>
		<div class="host"></div>
	</div>
	<div class="texte">
		<h1>System<span style="color:white;">.<span style="color:#e06c75;">out</span>.</span><span style="color:#61afef;">println</span>("</h1>
		<div class="string">
		  <h1 class="greeting en">en attente</h1>
		  <h1 class="greeting es">de tous les</h1>
		  <h1 class="greeting de">joueurs pour</h1>
		  <h1 class="greeting it">lancer la partie</h1>  
		</div>
		<h1 class="closure">");</h1>
	</div>
    </div>
    <div id= "gameContainer" class="d-none">
    <div class="containertop">

        <div class="animHautGauche">
        </div>

        <div class="screen">
            <!--là où on affiche les citations, les scores ect -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
        </div>

        <div class="animHautDroite">
        </div>
    </div>

    <div class="containerbottom">

        <div class="animBasGauche">
        </div>

        <div class="input">
            <!--là où on écrit les réponses -->
            <p>Input</p>
        </div>

        <div class="animBasDroite">
        </div>

    </div>
    </div>
    <div class="footer">
        <!-- en bas de la page, commun à toutes les pages-->
        <p>© 2022 - AUTT</p>
    </div>
    <script src="/games/socket.io/socket.io.js"></script>
    <script src="/games/js/citations.js"></script>
</body>

</html>