<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesGlobal.css">
    <link rel="stylesheet" href="/loading.css">
	<link rel="icon" type="image/png" href="/games/logo_autt-(192x192).png" sizes="192x192">
	<title>Jeux en ligne</title>
</head>

<body>
	<header>
		<a href="/">AUTT</a>
		<ul>
			<a href="/games/">
				<li>Accueil</li>
			</a>
			<a href="/games/dinautt">
				<li>Dinautt</li>
			</a>
			<a href="/games/morpion">
				<li>Morpion</li>
			</a>
			<a href="/games/citations">
				<li>Jeu des citations</li>
			</a>
		</ul>
		<span class="nav-profile">
			<a href="/games/profile">Mon profil</a>
		</span>
	</header>
	<div class ="containerPlayer">
		<div class="topTexte">
			Joueurs Connectés:
		</div>
		<div class="players"></div>
		<div class="p1"></div>
		<div class="p2"></div>
		<div class="p3"></div>
		<div class="p4"></div>
		<div class="p5"></div>
		<div class="p6"></div>
		<div class="bottomTexte">
			Host de la partie:
		</div>
		<div class="host"></div>
	</div>
	<div class="texte">
		<h1>System<span style="color:white;">.<span style="color:#e06c75;">out</span>.</span><span style="color:#61afef;">println</span>("</h1>
		<div class="string">
		  <h1 class="greeting en">en attente</h1>
		  <h1 class="greeting es">de tous les</h1>
		  <h1 class="greeting de">joueurs pour</h1>
		  <h1 class="greeting it">lancer la partie</h1>  
		</div>
		<h1 class="closure">");</h1>
	</div>

</body>


