<header>
    <a href="/">AUTT</a>
    <ul>
        <li>
            <a href="/">Accueil</a>
        </li>
        <li>
            <a href="/dinautt">Dinautt</a>
        </li>
        <li>
            <a href="/morpion">Morpion</a>
        </li>
        <li>
            <a href="/citations">Jeu des citations</a>
        </li>
    </ul>
    <span class="nav-profile">
        <a href="/profile">Mon profil</a>
    </span>
</header>