<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/acceuil.css">
	<link rel="icon" type="image/png" href="/logo_autt-(192x192).png" sizes="192x192">
	<title>Jeux en ligne</title>
</head>

<body>


<div id="tiles"></div>
	
<div class="boutons" class="centered">
	<div id="dinautt">Dinautt</div>
	<div id="morpion">Morpion</div>
	<div id="citations">Jeu des Citations</div>
	<div id="profil">Mon Profil</div>
</div>
<h1 id="title" class="centered">
	Bienvenu sur 
	<span class="fancy">Auttgames</span>.
</h1>
<h1 id="dinautt" class="centered">
	Dinautt
</h1>

<i id="icon" class="fa-solid fa-chess centered"></i>


<script src="/js/anime.min.js"></script>
<script src="/js/welcome.js"></script>
</body>
</html>