<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/games/css/profile.css">
	<link rel="stylesheet" href="/games/css/stylesGlobal.css">
	<link rel="icon" type="image/png" href="/games/logo_autt-(192x192).png" sizes="192x192">
	<title>Jeux en ligne</title>
</head>

<body>
	<header>
		<a href="/">AUTT</a>
		<ul>
			<a href="/games/">
				<li>Accueil</li>
			</a>
			<a href="/games/dinautt">
				<li>Dinautt</li>
			</a>
			<a href="/games/morpion">
				<li>Morpion</li>
			</a>
			<a href="/games/citations">
				<li>Jeu des citations</li>
			</a>
		</ul>
		<span class="nav-profile">
			<a href="/games/profile">Mon profil</a>
		</span>
	</header>
    <div class="haut">
		<div class="level">
			lvl et xp
		</div>

        <div class="banner">
            //on affiche la banière du joueur
            <img src="/games/banners/<?= $banner ?>" alt="Bannière du joueur">
        </div>

		<div class="gold">
			autt coins et finance
		</div>


    </div>
	<h1>Bienvenue sur ton profil, <%= username %> !</h1> 
	<form action="/games/logout?_method=DELETE" method="POST">
		<button type="submit">Se déconnecter</button>
	</form>
	<div class="statsTexte">Tes statistiques:</div>
	<div class="stats">
		<div class="statCitations statsContent">
			<h2>Jeu des citations</h2>
			Nombre de parties jouées : <?= $total_games ?>
			<p>Nombre de bonnes réponses : <?= $wins ?><p>
			<p>Ratio des bonnes réponses : <?= Ratio ?><
			<p>Ratio de victoires : <?= RatioV ?></p>
			<p>Nombre de parties terminées en dernière position :     </p>
		</div>
		<div class="statsMorpion statsContent">
			<h2>Morpion</h2>
			<p>Nombre de parties jouées : <?= $total_games ?></p>
			<p>Nombre de parties gagnées : <?= $wins ?></p>
		</div>
		<div class="statsDinautt statsContent">
			<h2>Din'autt</h2>
			<p>Nombre de parties jouées : <?= $total_games ?>    </p>
			<p>Highscore: <?= Highscore ?></p>

		</div>
</div>
</body>


