<h1>Salut <%= username %>, la forme?</h1>
<p>Cette page c'est ton profil! on est en train de bosser dessus, donc si tu vois ca c'est que t'es sacrément early dans le projet, et on t'en remercie.</p>
<form action="/games/logout?_method=DELETE" method="POST">
    <button type="submit">Se déconnecter</button>
</form>