<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/acceuil.css">
    <link rel="icon" type="image/png" href="/logo_autt-(192x192).png" sizes="192x192">
    <title>Jeux en ligne</title>
</head>
<body>
<div id="tiles"></div>
<h1 id="title" class="centered">
    Bienvenue sur
    <span class="fancy">Auttgames</span>.
</h1>

<div id="menu" class="centered">
    <a class="selectprofil" href="/profile">
        <h1>
            Mon Profil
        </h1>
    </a>
    <a class="selectdinautt" href="/dinautt">
        <h1>
            Dinautt
        </h1>
    </a>
    <a class="selectmorpion" href="/morpion">
        <h1>
            Morpion
        </h1>
    </a>
    <a class="selectcitations" href="/citations">
        <h1>
            Jeu des Citations
        </h1>
    </a>
</div>


<i id="icon" class="fa-solid fa-chess centered"></i>
<script src="/js/anime.min.js"></script>
<script src="/js/welcome.js"></script>
</body>

</html>