<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesGlobal.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/png" href="/logo_autt-(192x192).png" sizes="192x192">
    <title>Login</title>
</head>
<body>
<%- include('header.ejs') %>

<div class="container">
    <div class="card">
        <h1>Connexion</h1>
        <% if (messages.error){ %>
            <div class="error"><%= messages.error %></div>
        <% } %>
        <form action="/login" method="POST">
            <div>
                <input type="text" name="username" id="username" placeholder="Username" required>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <button type="submit">Se connecter</button>
        </form>
        <a href="/register">Pas encore inscrit?</a>
    </div>
</div>
<div class="footer">
    <p>Made with ♡ in Lyon, France by FlashOnFire, Tibouyou et Claquettes. Code disponible <a
                target="_blank" href="https://github.com/Claquettes/JS_Games">ici</a></p>
    <p>©claq.fr 2022.</p><br>
</div>
</body>
</html>
