<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/games/css/stylesGlobal.css">
    <link rel="stylesheet" href="/games/css/login.css">
    <link rel="icon" type="image/png" href="/games/logo_autt-(192x192).png" sizes="192x192">
    <title>Inscription</title>
</head>
<body>
<header>
    <a href="/">AUTT</a>
    <ul>
        <a href="/games/">
            <li>Accueil</li>
        </a>
        <a href="/games/dinautt">
            <li>Dinautt</li>
        </a>
        <a href="/games/morpion">
            <li>Morpion</li>
        </a>
        <a href="/games/citations">
            <li>Jeu des citations</li>
        </a>
    </ul>
</header>
<div class="container">
    <div class="card">
        <h1>Inscription</h1>

        <% if (locals.message) { %>
            <div class="error"><%= message %></div>
        <% } %>

        <form action="/games/register" method="POST">
            <div>
                <input type="text" name="username" id="username" placeholder="Username" required>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <button type="submit">Créer mon compte</button>
        </form>
        <a href="/games/login">Me connecter à mon compte</a>
    </div>
</div>
</body>
</html>
