<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="stylesheet" href="/css/stylesGlobal.css">
    <link rel="icon" type="image/png" href="/logo_autt-(192x192).png" sizes="192x192">
    <title>Settings</title>
</head>
<body>
<header>
    <a href="/">AUTT</a>
    <ul>
        <a href="/">
            <li>Accueil</li>
        </a>
        <a href="/dinautt">
            <li>Dinautt</li>
        </a>
        <a href="/morpion">
            <li>Morpion</li>
        </a>
        <a href="/citations">
            <li>Jeu des citations</li>
        </a>
    </ul>
    <span class="nav-profile">
			<a href="/games/profile">Mon profil</a>
		</span>
</header>
<div class="footer">
    <p>Made with ♡ in Lyon, France by FlashOnFire, Tibouyou et Claquettes. Code disponible <a
                target="_blank" href="https://github.com/Claquettes/JS_Games">ici</p>
    <p>©claq.fr 2022.</p><br> 
</div>
</body>
</html>