<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesGlobal.css">
    <link rel="icon" type="image/png" href="/logo_autt-(192x192).png" sizes="192x192">
    <title>Settings</title>
</head>
<body>
<%- include('header.ejs') %>

<div class="footer">
    <p>Made with ♡ in Lyon, France by FlashOnFire, Tibouyou et Claquettes. Code disponible <a
                target="_blank" href="https://github.com/Claquettes/JS_Games">ici</a></p>
    <p>©claq.fr 2022.</p><br>
</div>
</body>
</html>