:root {
  --g2: rgb(22, 94, 174);
  --g1: rgb(175, 122, 255); 
}

@keyframes background-pan {
  from {
    background-position: 0 center;
  }
  
  to {
    background-position: -200% center;
  }
}

@keyframes fadetext {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

body {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
          to right,
          var(--g1),
          var(--g2),
          var(--g1)
  );
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body.toggled {
  animation: none;
}

body.toggled > #title {
  opacity: 0;
}

body.toggled > #menu {
  animation: fadetext 1s ease-in-out;
  opacity: 1;
  z-index: 3;
}

body.toggled > #icon {
  opacity: 1;
}

/*
body.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}
*/
.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

}

.selectprofil, .selectdinautt, .selectcitations, .selectmorpion {
  text-align: center;
  color: black;
  transition: color 0.5s;
}

.selectprofil:hover, .selectdinautt:hover, .selectcitations:hover, .selectmorpion:hover {
  color: #fff;
}


#menu {
  opacity: 0;
  display: flex;
  flex-direction: column;
}

#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;
  
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 1px;
  position: absolute;
}

#title {
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 6vw;
  margin: 0;
  pointer-events: none;
  transition: opacity 1200ms ease;
  width: 50vw;
  z-index: 3;
}

.boutons {
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 6vw;
  margin: 0;
  pointer-events: none;
  transition: opacity 1200ms ease;
  width: 50vw;
  z-index: 3;
}

#title > .fancy {
  color: var(--g2);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.5em;
  line-height: 0.9em;
}

#icon {
  color: rgba(255, 255, 255, 0.15);
  font-size: 80vmin;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1200ms ease;
  z-index: 1;
}

