.board {
	background-color: gainsboro;
}

.cell {
	border: 1px solid;
	font-size: 5rem;
	height: 150px;
	width: 150px;
	text-align: center;
}

.cell:hover {
	cursor: pointer;
	background-color: rgb(192,192,192);
}

.cell:active {
	background-color: rgb(155,155,155);
}

.win-cell {
	background-color: greenyellow !important;
}