body {
    z-index: 0;
    width: 100vw;
    height : 100vh;
    overflow: hidden;
    background-color: #ac988d;
}

h1 {
    color: rgb(0, 0, 0); font-family: 'Helvetica Neue', sans-serif; font-size: 40px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;padding: 0px; 
}

.banner{
    flex: 70%;
    background-color: aqua;
    overflow: hidden;

}
.gauche{
    flex: 15%; 

}
.level{
    position: relative;
    top: 0%;
    left: 62%;
    height: 20%;
    width: 20%;
}
.lvlPng{
    z-index: 2;
    border-radius: 100% 98% 90%;
    size: relative;
    position: relative;
    top: 10%;
    left: 80%;
    height: 100%;
    width: 100%;

}

.avatarPng{
    z-index: 1;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    position: relative;
    border-radius: 100%;
    top: -15%;
    left: 0%;
    height: 90%;
    width: 90%;

}
.bannerPng{
    justify-content: center;
    align-items: center;
    z-index: 0;
    object-fit : scale-down;
    width:100%;
    height: auto;

}
.gold{
    flex: 15%;
    background-color: rgb(174, 0, 255);

}

.haut{
    position: relative;
    size: relative;
    height: 30%;
    width: 100%;
    display: flex;

}
.stats{
    z-index: 1;
    position: relative;
    left: 15%;
    size: relative;
    height: 30%;
    width: 70%;
    display: flex;

}
.statsContent{
    justify-content: center;
    flex: 33%;
    height: 100%;
}
.statsTexte{
    color: rgb(0, 0, 0); font-family: 'Helvetica Neue', sans-serif; font-size: 20px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;padding: 0px; 
    justify-content: center;    
}

.deconnection{
    position: relative;
    left: 50%;
}
/*Palette CSS: 
.color1 {color: #1974c4;}
.color2 {color: #9d68a5;}
.color3 {color: #b77b84;}
.color4 {color: #ac988d;}
.color5 {color: #a6a6a3;}
*/