html {
    width: 100vw;
    height : 100vh;
}

*{
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background-color: #ac988d;
}

header {
    background: #222;
    margin-bottom: 30px;
}

header > a:first-child {
    padding: 0 15px;
}

header ul {
    list-style-type: none;
}

header ul,
header .nav-profile {
    margin: 0;
    padding: 0;
    height: auto;
    display: inline-block;
}

header ul,
header .nav-profile {
    margin: 7px 5px;
    transition: background-color 0.4s;
}

header ul li:hover,
header span a:hover {
    background: #444;
    transition: background-color 0.4s;
}

header li,
header span a {
    display: inline-block;
    padding: 12px 10px;
}

header a {
    color: #CCC;
    text-decoration: none;
}

header .nav-profile {
    float: right;
    margin-right: 20px;
}

footer {
    color: #111; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 300; text-align: center; width: 100%; background-color: #ac988d; 

}

.d-none {
    display: none!important;
}

/*Palette CSS: 
.color1 {color: #04080F;}
.color2 {color: #507DBC;}
.color3 {color: #A1C6EA;}
.color4 {color: #BBD1EA;}
.color5 {color: #DAE3E5;}
*/