@import url('https://fonts.cdnfonts.com/css/press-start-2p');

:root {
    --color0: #6ba6f8;
    --color1: #04080F;
    --color2: #488ae8;
    --color3: #165eae;
    --color4: #bdd0e6;
    --color5: #DAE3E5;
    --color6: rgb(9, 76, 116);
    --color7: rgb(23, 48, 111);
}

html {
    width: 100vw;
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background: rgb(72,138,232);
    background: radial-gradient(circle, rgba(72,138,232,1) 0%, rgba(9,76,116,1) 80%);
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #222;
    margin-bottom: 30px;
}

header > a:first-child {
    padding: 0 15px;
}

header ul {
    list-style-type: none;
}

header ul,
header .nav-profile {
    margin: 0;
    padding: 0;
    height: auto;
    display: inline-block;
}

header li,
header .nav-profile {
    margin: 7px 5px;
    transition: background-color 0.4s;
}

header ul li:hover,
header span a:hover {
    background: #444;
    transition: background-color 0.4s;
}

header li {
    display: inline-block;
}

header li a, header span a {
    display: inline-block;
    padding: 12px 10px;
}

header a {
    color: #CCC;
    text-decoration: none;
}

header .nav-profile {
    float: right;
    margin-right: 20px;
}

.footer {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;

}
.d-none {
    display: none !important;
}
