:root {
    --color0: #6ba6f8; /*Background1*/
    --color1: #165eae; /*Background2*/
    --color2: #04080F; /*dark*/
    --color3: #488ae8; /*accent*/
    --color4: #bdd0e6;  /*Light*/
    --color5: #DAE3E5;  /*Lighter*/
} /*palette par défault*/
