:root {
    --color0: #6ba6f8;
    --color1: #04080F;
    --color2: #488ae8;
    --color3: #165eae;
    --color4: #bdd0e6;
    --color5: #DAE3E5;
    --color6: rgb(9, 76, 116);
    --color7: rgb(23, 48, 111);
}