body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Consolas, monaco, monospace;
    font-size:xx-large;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
h1, p {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 50px 0;
    color: white;
    font-family: Consolas, monaco, monospace;
    font-weight: 100;
    border-radius: 10px;
}


.menu_principal{
    width: 100%;
    height: 10%;
    background-color: #000000;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    z-index: 1;
}

.container_matieres{
    width: 65%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin-top: 10%;
    display: flex;
    color: #ffffff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 10px;
}

.container_matieres a {
    text-decoration: none;
    
}

.matiere{
    color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    z-index: 1;
}

.matiere:hover{
    background-color: #454444;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
    border-radius: 5px;
}

.footer {
    position: fixed;
    left: 40%;
    bottom: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 20%;    
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    z-index: 1;
    border-radius: 10px;
  }

.poly{
    color: rgba(0, 159, 227, 1);
}