<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/games/css/acceuil.css">
	

	<link rel="icon" type="image/png" href="/games/logo_autt-(192x192).png" sizes="192x192">
	<title>Jeux en ligne</title>
</head>

<body>
	<header>
		<a href="/">AUTT</a>
		<ul>
			<a href="/games/">
				<li>Accueil</li>
			</a>
			<a href="/games/dinautt">
				<li>Dinautt</li>
			</a>
			<a href="/games/morpion">
				<li>Morpion</li>
			</a>
			<a href="/games/citations">
				<li>Jeu des citations</li>
			</a>
		</ul>
		<span class="nav-profile">
			<a href="/games/profile">Mon profil</a>
		</span>
	</header>
	<div>WORK IN PROGRESS, BROWSE GAMES VIA THE HEADER FOR NOW!</div>
	<script src="/games/js/welcome.js"></script>
	<div id="tiles"></div>

<h1 id="title" class="centered">
  Auttgames's
  <span class="fancy">Homepage</span>.
</h1>

<i id="icon" class="fa-solid fa-chess centered"></i>

<script src="/games/js/welcome.js"></script>
</body>
</html>