<!DOCTYPE html>
<html>
<head>
    <title>Random GIF Generator</title>
    <link rel="stylesheet" href="/css/stylesGlobal.css">
    <link rel="stylesheet" href="/css/mimir.css">
</head>
<body>

<h1>Random GIF Generator</h1>

<!-- This is where the randomly selected GIF will be displayed -->
<div id="gif-container"></div>
<script type="module" src="/js/mimir.js"></script>
</body>
</html>
