<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/2048.css">
    <link rel="icon" type="image/png" href="/logo_autt-(192x192).png" sizes="192x192">
    <title>Jeux en ligne</title>
</head>
  <title>2048</title>
</head>
<body>
  <h1>2048</h1>
  <div class="board"></div>
  <script src="/js/2048.js"></script>
</body>
</html>
