<!DOCTYPE html>
<html>
<head>
    <title>McStats</title>
    <link rel="stylesheet" href="/css/stylesGlobal.css">
    <link rel="stylesheet" href="/css/mcstats.css">
</head>
<body>

<h1>This is a certified Gaming moment</h1>

<!-- this is were the user can upload the photo of his receipt-->

<input type="file" id="receipt" name="receipt"
       accept="image/png, image/jpeg">

<!--button to send the photo to the server-->
<button onclick="sendReceipt()">Send Receipt</button>

<script type="script" src="/js/mcstats.js"></script>
</body>
</html>
