<!DOCTYPE html>
<html>
<head>
    <title>McStats</title>
    <link rel="stylesheet" href="/css/stylesGlobal.css">
    <link rel="stylesheet" href="/css/mcstats.css">
</head>
<body>
<a class="container">
  <div class =burger>
    <canvas id="burgerChart"></canvas>
  </div>
  <div class = accompagnement>
    <canvas id="accompagnementChart"></canvas>
  </div>
</a>

yessir
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/mcstats.js" data="<%= data %>"></script>
  
</body>
</html>



   
  
   