<!DOCTYPE html>
<html>
<head>
    <title>McStats</title>
    <link rel="stylesheet" href="/css/stylesGlobal.css">
    <link rel="stylesheet" href="/css/mcstats.css">
</head>
<body>
<div class = menu>
  <canvas id="myChart"></canvas>
</div>
yessir
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/mcstats.js"></script>
  
</body>
</html>



   
  
   