<!-- <!DOCTYPE html>
<html>
<head>
    <title>McStats</title>
    <link rel="stylesheet" href="/css/stylesGlobal.css">
    <link rel="stylesheet" href="/css/mcstats.css">
</head>
<body>

<h1>This is a certified Gaming moment</h1>

<input type="file" id="receipt" name="receipt"
       accept="image/png, image/jpeg">


<button onclick="sendReceipt()">Send Receipt</button>

<script type="script" src="/js/mcstats.js"></script>
</body>
</html>
-->
<div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
  
   
  
   