<!DOCTYPE html>
<html>
<head>
    <title>Qalq</title>
    <link rel="stylesheet" href="/css/stylesGlobal.css">
    <link rel="stylesheet" href="/css/mcstats.css">
</head>
<body>
Bon on est là hein JuJuJul
<script src="/js/mcstats.js"></script>
  
</body>
</html>



   
  
   